# IntelliJ / PhpStorm
.idea/*
*.ipr
*.iml
*.iws

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

#Codeception

.idea
.roboci
composer.phar
composer.lock
vendor
package/codecept.phar
package/codecept5.phar
package/php54/codecept.phar
tests/support/_generated
tests/data/app/db
tests/data/sandbox
tests/_output/*
tests/data/included/_log/*
tests/data/included/jazz/tests/_log/*
tests/data/included/jazz/pianist/tests/_log/*
tests/data/included/shire/tests/_log/*
tests/data/included_w/_log/*
tests/data/included_w/src/foo/AcmePack/tests/_log/*
tests/data/included_w/src/foo/AcmePack/tests/_support/_generated/*
tests/data/included_mix/src/foo/AcmePack/tests/_log/*
tests/data/included_mix/src/foo/AcmePack/tests/_support/_generated/*
tests/data/included_mix/_log/*
tests/data/included_mix/support/_generated/*
tests/data/claypit/tests/_log/*
tests/data/claypit/tests/_output/*
tests/data/claypit/tests/_support/_generated/*
tests/data/claypit/c3tmp
tests/data/included/jazz/pianist/tests/_helpers/_generated/TestGuyActions.php
tests/data/included/jazz/tests/_helpers/_generated/TestGuyActions.php
tests/data/included/shire/tests/_helpers/_generated/TestGuyActions.php
tests/data/included_w/src/bar/Sub/EwokPack/tests/_support/_generated/UnitTesterActions.php
tests/data/included_w/src/bar/ToastPack/tests/_support/_generated/UnitTesterActions.php
tests/data/included_w/src/foo/AcmePack/tests/_support/_generated/UnitTesterActions.php
tests/data/params/tests/_support/_generated/DummyTesterActions.php
tests/data/exception_in_before/tests/_support/_generated/UnitTesterActions.php
tests/data/exception_in_before/tests/_output/
tests/data/bundled_suites/_support/_generated/UnitTesterActions.php
tests/data/bundled_suites/_output/
tests/data/snapshots/tests/_support/_generated
tests/data/snapshots/tests/_data/Snapshot.UserSnapshot.json
.DS_Store
robo.phar
.env